nav {
    background-color: #615A5A;
}
.nav-wrapper{
	/* width: 80%; */
	margin: 0 auto;
}
.brand-logo{
	font-size: 1.7rem !important;
}
.login-f{
	margin-top: 6em;
}
.card-action{
	margin-top: 7em;
}
[type="checkbox"].filled-in:not(:checked)+label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #C5C2C2 !important;
    top: 0px;
    z-index: 0;
}
.input-field label {
    color: #CEC8C8;
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
}
label {
    font-size: 0.8rem;
    color: #A9A7A7;
}
.card .card-action {
    border-top: 1px solid rgba(243, 243, 243, 0.2);
    padding: 20px;
    text-align: center;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

footer {
    margin-top: 20px !important;
    padding-top: 0px !important;
    background-color: #615A5A !important;
    height: 50px;
    bottom: 0px;
    max-height: 50px;
    position: absolute;
    width: 100%;
}